services:
  postgres-dev:
    image: postgres:17
    container_name: postgres-dev
    ports:
      - '5432:5432'
    env_file:
      - .env
  postgres-test:
    image: postgres:17
    container_name: postgres-test
    ports:
      - '5433:5432'
    env_file:
      - .env.test
