services:
  postgres-dev:
    image: postgres:17
    container_name: postgres-dev
    ports:
      - '5432:5432'
    env_file:
      - .env
    volumes:
      - servify_dev_data:/var/lib/postgresql/data
  postgres-test:
    image: postgres:17
    container_name: postgres-test
    ports:
      - '5433:5432'
    env_file:
      - .env.test

volumes:
  servify_dev_data:
